<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <h1>Create a New List</h1>
    <form action="/listings" method="post">
        <input type="text" name="listing[title]" id="" placeholder="Enter Title">
        <br><br><br>
        <textarea  name="listing[description]" id="" placeholder="Enter Description"></textarea>
        <br><br><br>
        <input type="text" name="listing[image]" id="" placeholder="Enter Image URL/Link">
        <br><br><br>
        <input type="number" name="listing[price]" id="" placeholder="Enter Price">
        <br><br><br>
        <input type="text" name="listing[country]" id="" placeholder="Enter Country">
        <br><br><br>
        <input type="text" name="listing[location]" id="" placeholder="Enter Location">
        <br><br><br>
        <button>ADD</button>
    </form>
    
</body>
</html>